@{
    ViewBag.Title = "Articoli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Articoli</h2>

<div id="TabellaArticoli"></div>

@section scripts{
<script src="~/Scripts/ValidationEngine/jquery.validationEngine.js"></script>
<script src="~/Scripts/ValidationEngine/languages/jquery.validationEngine-it.js"></script>    

<link href="~/Scripts/ValidationEngine/css/validationEngine.jquery.css" rel="stylesheet" />    
    <script type="text/javascript">
    $(document).ready(function () {
        $("#TabellaArticoli").jtable({
            title: 'Articoli',
            paging: true,
            pageSize: 10,

            openChildAsAccortition: true,
            actions: {
                listAction: '@Url.Action("ArticoliList")',
                createAction: '@Url.Action("ArticoliCreate")',
                updateAction: '@Url.Action("ArticoliUpdate")',
                deleteAction: '@Url.Action("ArticoliDelete")'
                },
                fields: {
                    IDArticolo: {
                        key: true,
                        list: false
                    },
                    ArticoloPrezzi:{
                        title: 'Prezzi',
                        width: '5%',
                        create: false,
                        edit: false,
                        sorting:false,
                        display: function (articoloData) {
                            var $img = $('<img src="/Scripts/jtable/themes/metro/list_metro.png" title="Dettagli" />');
                            $img.click(function () {
                                $('#TabellaArticoli').jtable('openChildTable',
                                    $img.closest('tr'),
                                    {
                                        title: 'Articolo: ' + articoloData.record.CodiceArticolo,
                                        actions: {
                                            listAction: '/Admin/PrezziList?IDArticolo=' + articoloData.record.IDArticolo,
                                            createAction: '/Admin/PrezziCreate',
                                            updateAction: '/Admin/PrezziUpdate',
                                            deleteAction: '/Admin/PrezziDelete'
                                        },
                                        fields: {
                                            IDArticolo: {
                                                type: 'hidden',
                                                defaultValue: articoloData.record.IDArticolo
                                            },
                                            IDArticoloPrezzo: {
                                                key: true,
                                                create: false,
                                                edit: false,
                                                list: false
                                            },
                                            TipoPrezzo: {
                                                title: 'TipoPrezzo',    
                                            },
                                            Prezzo: {
                                                title: 'Prezzo',
                                                display: function (data) {
                                                    return $('<span>€ ' + data.record.Prezzo + '</span>');
                                                }
                                            },
                                            DescrizionePrezzo: {
                                                title: 'Descrizione'
                                            }
                                        },
                                        
                                            formCreated: function (event, dataP) {
                                                dataP.form.find('input[name="Prezzo"]').addClass('validate[required,custom[currency]]');
                                                dataP.form.validationEngine();
                                            },
                                            formSubmitting: function (event, dataP) {
                                                return dataP.form.validationEngine('validate');
                                            },
                                            formClosed: function (event, dataP) {
                                                dataP.form.validationEngine('hide');
                                                dataP.form.validationEngine('detach');
                                            }
                                    }, function (data) {
                                        data.childTable.jtable('load');
                                    });

                            });
                            return $img;
                        }
                    },
                    CodiceArticolo: {
                        title: 'Codice articolo'
                    },
                    DescrizioneArticolo: {
                        title: 'Descrizione'
                    },
                    WebLinkArticolo: {
                        title: 'URL',
                        defaultValue: 'http://'
                    }
                },

                formCreated: function (event, data) {
                    data.form.find('input[name="CodiceArticolo"]').addClass('validate[required]');
                    data.form.find('input[name="WebLinkArticolo"]').addClass('validate[required,custom[url]]');
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });
            $('#TabellaArticoli').jtable('load');
        });

    </script>

}

