@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin";
}
<table>
    <thead>
        <tr>
            <th>Campo 1</th>
            <th>Campo 2</th>
            <th>Campo 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Valore 11</td>
            <td>Valore 12</td>
            <td>Valore 13</td>
        </tr>
        <tr>
            <td>Valore 21</td>
            <td>Valore 22</td>
            <td>Valore 23</td>
        </tr>
        <tr>
            <td>Valore 31</td>
            <td>Valore 32</td>
            <td>Valore 33</td>
        </tr>
    </tbody>
</table>